.tasks-container {
  display: flex; /* This is key */
  height: 100vh;
  margin: 0; /* Remove auto-centering if you’re using full height layout */
  padding: 0;
  background: #f9f9f9;
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.sidebar {
  width: 200px;
  background-color: #1e1e2f;
  color: white;
  padding: 1rem;
}

.sidebar h2 {
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
  cursor: pointer;
}

.sidebar li:hover {
  text-decoration: underline;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}


.tasks-container .MuiTextField-root {
  flex: 1;
}

.tasks-container .MuiButton-root {
  white-space: nowrap;
}

.done .MuiListItemText-root {
  text-decoration: line-through;
  color: #888;
}
.task-text .MuiTypography-root {
  color: #333;
}

.done-text {
  color: #888;
  text-decoration: line-through;
}

.MuiIconButton-root:hover {
  border-radius:  10px;
}
